/* General custom styles */
body {
	font-family: "Inter", sans-serif;
	background-color: #f0f0f0;
	z-index: -1;
}

/* header */
header {
	width: 100%;
}
@media screen and (min-width: 1140px) {
	header {
		width: 1140px;
	}
}

.scrolled {
	position: fixed;
	top: 0;
	z-index: 10;
}
